<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Action Results</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MVC Action Results", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Content Returning Results<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("View Result", "ViewResult", "Home")</li>
                            <li>@Html.ActionLink("Partial View Result", "PartialViewResult", "Home")</li>
                            <li>@Html.ActionLink("Content Result", "ContentResult", "Home")</li>
                            <li>@Html.ActionLink("Empty Result", "EmptyResult", "Home")</li>
                            <li>@Html.ActionLink("File Path Result", "FileContentResult", "Home")</li>
                            <li>@Html.ActionLink("Json Result", "JsonResult", "Home")</li>
                            <li>@Html.ActionLink("JavaScript Result", "JavaScriptResult", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Redirection Results<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Redirect Result", "RedirectResult", "Home")</li>
                            <li>@Html.ActionLink("Redirect To Route Result", "RedirectToRouteResult", "Home")</li>
                            <li>@Html.ActionLink("Redirect To Action Result", "RedirectToActionResult", "Home")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Status Results<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Http Status Code Result", "HttpStatusCodeResult", "Home")</li>
                            <li>@Html.ActionLink("Http Unauthorized Result", "HttpUnauthorizedResult", "Home")</li>
                            <li>@Html.ActionLink("Http Not Found Result", "HttpNotFoundResult", "Home")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MVC Action Results</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
